// Modal Long
.modal {
  text-align: left;
  .modal-content {
    padding: $p-max;
  }
  .modal-content-long {
    height: 100vh;
  }

  // Header
  .modal-header {
    padding: 0;
    margin-bottom: 2rem;
    border-bottom: none;
  }
  .close {
    font-size: 1.5rem;
    color: $dark;
    opacity: 1;
    .material-icons {
      font-size: 1.5rem;
    }
  }

  // Body
  .modal-body {
    padding: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .form-group  {
    margin-bottom: 24.5px;
    padding-bottom: 24.5px;
    border-bottom: 1px solid $border;
    &:last-of-type {
      border-bottom: none;
    }
    label {
      font-size: $font-size-md;
      line-height: 17px;
      margin-bottom: .25rem;
    }
    select,input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .form-control {
    height: calc(19px + 2rem);
    font-size: $font-size-base;
    line-height: 19px;
    color: $dark;
    padding: 0 1rem;
    border: 1px solid $dark;
    border-radius: $border-radius;
  }

  // Account
  .admin-name-input {
    margin-bottom: 1rem;
  }

  // Verification
  .verification-status {
    margin-bottom: 1.1875rem;
    .material-icons {
      font-size: 1.375rem;
      vertical-align: sub;
      margin-right: .5625rem;
    }
    .unverified-icon {
      color: $danger;
    }
    .verified-icon {
      color: $primary;
    }
  }
  .verification-status-cnt {
    font-size: $font-size-base;
    line-height: 19px;
    font-weight: 700;
  }
  .verification-status-date {
    font-size: $font-size-md;
    line-height: 17px;
  }
  .verificationBtn {
    width: 100%;
    line-height: 33px;
    font-weight: 700;
    border: 1px solid $border;
  }
  .verification-doneBtn {
    color: $border;
    background: #fff;
  }

  // Access Level
  .form-group-select {
    position: relative;
    .material-icons {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 2rem;
    }
  }

  // Checkbox
  .form-check {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .form-check-input {
    position: relative;
    margin-top: 0;
    margin-right: .5rem;
    width: 24px;
    height: 24px;
    border: 2px solid $dark;
    background: none;
    cursor: pointer;
    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background: #000;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        opacity: 0;                
    }
    &:checked {
        &:before {
            opacity: 1;
        }
    }
  }
  .form-check-label {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  // checkbox label 覆蓋樣式
  .form-group {
    .form-check-label {
      margin-bottom: 0;
    }
  }

  // Deactivate This Account
  .deactivate-cnt {
    color: $danger;
    font-weight: 400;
  }
  .deactivateBtn {
    color: $danger;
    border: 1px solid $danger;
    width: 100%;
    line-height: 33px;
    font-weight: 700;
  }

  // Footer
  .modal-footer {
    border-top: none;
    .btn {
      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

// Modal Center
.modal-dialog {
  max-width: 480px;
}
.modal  {
  .edit-modal-header {
    margin-bottom: 0;
    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      padding: 1rem;
      z-index: 1;
    }
  }
}
.readCntImg {
  min-width: 141px;
  height: 141px;
  background: url('../images/pic03.jpg') center no-repeat;
  background-size: cover;
  margin-right: 1.5rem;
}
.readCntInfo {
  width: 100%;
}
.readCntInfo-num {
  line-height: 19px;
  margin-bottom: 0.5rem;
}
.readCntInfo-level {
  line-height: 19px;
}
.readCntInfo-name {
  margin-bottom: 0.5rem;
}
.readCntInfo-mail {
  margin-bottom: 1.25rem;
}
.readCntInfo-funtion {
  margin-bottom: 1rem;
}
.readCntInfo-status {
  font-size: $font-size-md;
  padding: .25rem .5rem;
  background: $secondary;
}
.readCntInfo-collapse {
  .material-icons {
    color: $primary;
  }
}
.read-collapse-card{
  border: none;
  padding: 0;
}
.read-deactivateBtn {
  color: $danger;
  border: 1px solid $danger;
  font-weight: 400;
  padding: 0.25rem 2rem;
  &:hover {
    color: $danger;
    border: 1px solid $danger;
  }
}
.read-editBtn {
  font-weight: 400;
  padding: 0.25rem 1.875rem;
}